# ==========================
# Android / Kotlin Project
# ==========================

# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always normalize
*.java       text
*.kt         text
*.kts        text
*.xml        text
*.gradle     text
*.pro        text
*.txt        text
*.md         text
*.json       text
*.yml        text
*.gitignore  text
*.properties text
*.csv        text
*.iml        text

# Binary files should be left alone
*.png        binary
*.jpg        binary
*.jpeg       binary
*.gif        binary
*.ico        binary
*.jar        binary
*.aar        binary
*.so         binary
*.keystore   binary
*.db         binary
*.sqlite     binary
*.p12        binary
*.jks        binary
*.keystore   binary

# Misc
*.class      binary
*.dex        binary
*.apk        binary
*.ap_        binary
*.exe        binary
*.dll        binary
*.lib        binary
